<%-include('head', {title: 'header'})%>
<header>
    <div>
        <img src="/images/instagram_logo.png" alt="logo instagram">
    </div>
    <input type="search" placeholder="Busca">

    <div>
       <ul>
        <li>
            <a href="#">
                <img src="/images/home-icon.png" alt="">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/images/messenger-icon.png" alt="">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/images/plus-icon.png" alt="">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/images/explore-icon.png" alt="">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/images/heart-icon.png" alt="">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/images/profile-icon.png" alt="">
            </a>
        </li>
       </ul>
    </div>
</header>